$base-color: #bbf7c5;
$cell-color: #29bb30;
$hover-color: #8da145;
$text-color: rgb(253, 227, 179);
$background-color: rgb(236, 236, 236);
// $cell-pad:

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: $background-color;
}



.container {
    display: grid;
    grid-template-columns: 62% 38%;
    gap: 2em;
    width: 96%;
    margin-inline: auto;
    background: $background-color;
}

nav,
#create-close,
#newEventButtons,
#deleteEventButtons,
#deleteMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    
    #month-year,
    button {
        background: white;
        padding: .6em;
        border-radius: 1.2em;
        border: 2px solid white;
        font-weight: bold;
        color: rgb(43, 43, 43);
        }

    button {
        padding-inline: 3em;

    }

    button:hover {
        background: $cell-color;
        color: $text-color;
        border: 2px solid $cell-color;
        cursor: pointer;
    }

    button:active {
        border: 2px solid $base-color;
    }
}

.calander-container {

    min-width: 45vw;
    .weekdays{
        background: $base-color;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: .2em;
        div {
            background: $cell-color;
            text-align: center;
            font-weight: bold;
            padding-top: 2em;
            padding-bottom: 2em;
            border-radius: .2em;
            margin-bottom: .2em;
            color: $text-color;
            // width: 100px;
        
        
        }


    }
}

.calander {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background: $base-color;
    gap: .2em;

    >div {
        background: $cell-color;
        border-radius: .3em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 12vh;
        max-height: 12vh;
    }

    
    div>div {
        // margin: .4em;
        margin-bottom: .4em;
        margin-top: .4em;
        background: $cell-color;
        color: $text-color;
        font-weight: 700;
        text-align: left;
        // padding-top: 2em;
        // padding-bottom: 2em;
        // border: 2px solid red;
        padding: .2em;
        // border-radius: .2em;
        
        
    }
    
    div.event {
        margin-top: 0;
        font-weight: bold;
    }

    div>div:first-child {
        margin-bottom: 0;
        background: none;
    }

    .month-day {
        text-align: left;
    }
    div:hover {
        // background: rgb(153, 231, 255);
        cursor: pointer;
    }

    .not-month-day:hover {
        background: rgb(242, 200, 255);
    }
    
    .not-month-day {
        font-weight: normal;
        background: $base-color;
    }

    .currentDay,
    .currentDay>div:first-child {
        background: rgb(222, 110, 250);
    }

    .month-day:hover {
        background: $hover-color;
    }


    .orange {
        background: orange;
    }

    .greenish {
        background: green;
    }

    .magentaish {
        background: magenta;
    }

}

.weekday-list {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: 1fr;
    font-weight: bold;
    color: royalblue;
}

.monthday-list {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: repeat(6, 1fr);
}

.monthday {
    color: rgb(11, 57, 196);
}

.previos,
.next {
    color: rgb(101, 68, 116);
}

#new-event,
#deleteEventModal {
    background: $base-color;

    label {
        padding: .3em 0;
        margin-top: .3em;
        font-weight: bold;
    }

    span {
        font-weight: bold;
    }
    padding: 1em;
    display: none;
    width: fit-content;
    border-radius: .4em;

    >* {
        display: block;
    }
}

#new-event {
    .errorbox {
        color: red;
        padding: .2em 0;
    }

    input,
    textarea,
    select {
        border: 0;
        background: none;
        border-bottom: 3px solid #444;
        width: 100%;
    }

}
.required::after {
    content: '*';
    color: red;
}

#DeletePopUpBackground {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }

#deletedEventTitle {
    font-weight: bold;
}

#deleteMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    background: $background-color;
    padding: 3em;
    border-radius: .4em;
    text-align: center;
    transform: translate(-50%, -50%);
    display: block;

    >* {
        display: block;
    }
}

button#delete-btn:hover {
    background: rgb(235, 57, 92);
    border: 2px solid rgb(235, 57, 92);
    color: white;
}

button#delete-btn:active {
    background: rgb(204, 49, 80);
    border: 2px solid rgb(204, 49, 80);
}

button#create-new-event {
    width: 58%;
}