* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #CDE8FA;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 62% 38%;
      grid-template-columns: 62% 38%;
  gap: 2em;
  width: 96%;
  margin-inline: auto;
  background: #CDE8FA;
}

nav,
#create-close,
#newEventButtons,
#deleteEventButtons,
#deleteMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

nav #month-year,
nav button,
#create-close #month-year,
#create-close button,
#newEventButtons #month-year,
#newEventButtons button,
#deleteEventButtons #month-year,
#deleteEventButtons button,
#deleteMessage #month-year,
#deleteMessage button {
  background: white;
  padding: .6em;
  border-radius: 1.2em;
  border: 2px solid white;
  font-weight: bold;
  color: #2b2b2b;
}

nav button,
#create-close button,
#newEventButtons button,
#deleteEventButtons button,
#deleteMessage button {
  padding-inline: 3em;
}

nav button:hover,
#create-close button:hover,
#newEventButtons button:hover,
#deleteEventButtons button:hover,
#deleteMessage button:hover {
  background: #4d53a3;
  color: #fde3b3;
  border: 2px solid #4d53a3;
  cursor: pointer;
}

nav button:active,
#create-close button:active,
#newEventButtons button:active,
#deleteEventButtons button:active,
#deleteMessage button:active {
  border: 2px solid #bec2fa;
}

.calander-container {
  min-width: 45vw;
}

.calander-container .weekdays {
  background: #bec2fa;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  gap: .2em;
}

.calander-container .weekdays div {
  background: #4d53a3;
  text-align: center;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: .2em;
  margin-bottom: .2em;
  color: #fde3b3;
}

.calander {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  background: #bec2fa;
  gap: .2em;
}

.calander > div {
  background: #4d53a3;
  border-radius: .3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 12vh;
  max-height: 12vh;
}

.calander div > div {
  margin-bottom: .4em;
  margin-top: .4em;
  background: #4d53a3;
  color: #fde3b3;
  font-weight: 700;
  text-align: left;
  padding: .2em;
}

.calander div.event {
  margin-top: 0;
  font-weight: bold;
}

.calander div > div:first-child {
  margin-bottom: 0;
  background: none;
}

.calander .month-day {
  text-align: left;
}

.calander div:hover {
  cursor: pointer;
}

.calander .not-month-day:hover {
  background: #dddddd;
}

.calander .not-month-day {
  font-weight: normal;
  background: #bec2fa;
}

.calander .currentDay,
.calander .currentDay > div:first-child {
  background: #9b01c2;
}

.calander .month-day:hover {
  background: #6d689e;
}

.calander .orange {
  background: #2ED13D;
}

.calander .greenish {
  background: #D13D2E;
}

.calander .magentaish {
  background: #d32cd3;
}

.weekday-list {
  display: -ms-grid;
  display: grid;
  text-align: left;
  -ms-grid-columns: (14%)[7];
      grid-template-columns: repeat(7, 14%);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  font-weight: bold;
  color: royalblue;
}

.monthday-list {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: (14%)[7];
      grid-template-columns: repeat(7, 14%);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
}

.monthday {
  color: #0b39c4;
}

.previos,
.next {
  color: #654474;
}

#new-event,
#deleteEventModal {
  background: #bec2fa;
  padding: 1em;
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: .4em;
}

#new-event label,
#deleteEventModal label {
  padding: .3em 0;
  margin-top: .3em;
  font-weight: bold;
}

#new-event span,
#deleteEventModal span {
  font-weight: bold;
}

#new-event > *,
#deleteEventModal > * {
  display: block;
}

#new-event .errorbox {
  color: red;
  padding: .2em 0;
}

#new-event input,
#new-event textarea,
#new-event select {
  border: 0;
  background: none;
  border-bottom: 3px solid #444;
  width: 100%;
}

.required::after {
  content: '*';
  color: red;
}

#DeletePopUpBackground {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

#deletedEventTitle {
  font-weight: bold;
}

#deleteMessage {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #CDE8FA;
  padding: 3em;
  border-radius: .4em;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
}

#deleteMessage > * {
  display: block;
}

button#delete-btn:hover {
  background: #eb395c;
  border: 2px solid #eb395c;
  color: white;
}

button#delete-btn:active {
  background: #cc3150;
  border: 2px solid #cc3150;
}

button#create-new-event {
  width: 58%;
}
/*# sourceMappingURL=style.css.map */