$base-color: #cfcfcf;
$cell-color: #2c40f1;
$hover-color: #4e5ff0;
$text-color: rgb(253, 227, 179);
$background-color: rgb(236, 236, 236);
// $cell-pad:

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: $background-color;
}



.container {
    display: grid;
    grid-template-columns: 62% 38%;
    gap: 2em;
    width: 96%;
    margin-inline: auto;
    background: $background-color;
}

nav,
#create-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    
    #month-year,
    button {
        background: white;
        padding: .6em;
        border-radius: 1.2em;
        border: 2px solid white;
        font-weight: bold;
        color: rgb(43, 43, 43);
        }

    button {
        padding-inline: 3em;

    }

    button:hover {
        background: $cell-color;
        color: $text-color;
        border: 2px solid $cell-color;
        cursor: pointer;
    }

    button:active {
        border: 2px solid $base-color;
    }
}

.calander-container {
    .weekdays{
        background: $base-color;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        div {
            margin: .1em;
            background: $cell-color;
            text-align: center;
            font-weight: bold;
            padding-top: 2em;
            padding-bottom: 2em;
            border-radius: .8em;
            color: $text-color;
        
        
        
        }

    }
}

.calander {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background: $base-color;
    div {
        margin: .1em;
        background: $cell-color;
        color: $text-color;
        font-weight: 700;
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;
        border-radius: .8em;



    }
    div:hover {
        // background: rgb(153, 231, 255);
        cursor: pointer;
    }

    .not-month-day:hover {
        background: rgb(242, 200, 255);
    }
    
    .not-month-day {
        font-weight: normal;
    }

    .currentDay {
        background: rgb(222, 110, 250);
    }

    .month-day:hover {
        background: $hover-color;
    }


    .orange {
        background: orange;
    }

    .greenish {
        background: green;
    }

    .magentaish {
        background: magenta;
    }

}

.weekday-list {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: 1fr;
    font-weight: bold;
    color: royalblue;
}

.monthday-list {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: repeat(6, 1fr);
}

.monthday {
    color: rgb(11, 57, 196);
}

.previos,
.next {
    color: rgb(101, 68, 116);
}

#new-event,
#deleteEventModal {
    display: none;

    >* {
        display: block;
    }
}

#new-event {
    .errorbox {
        color: red;
    }

}
.required::after {
    content: '*';
    color: red;
}